# Services
ENDPOINT_PORT=
USER_PORT=
PROCESSOR_PORT=
QUERY_PORT=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=

# RabbitMQ Queues
PROCESSOR_QUEUE=
OPENAI_QUEUE=

# AI Query Key
OPENAI_KEY=

# S3
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=